.image-two {
  max-width: 100%;
  height: auto;
}
.img-two-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 130px;
  overflow: hidden;
  padding: 10px;
}

.selection-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 30px;
  background-color: var(--clr-grayishblue);
  max-width: 40%;
  padding: 1px;
}
.selection-text {
  color: var(--clr-primary);
  font-size: var(--size-xxs);
}

.selection-subtitle {
  margin-top: 20px;
  text-align: center;
  color: var(--clr-white);
  font-size: var(--size-lg);
}

.selection-paragraph {
  font-size: var(--size-xs);
  text-align: center;
  color: var(--clr-lightgray);
}
